.WordCard {
  $root: &;
  padding: spacing(2) spacing(2) spacing(.5);
  border-radius: $radius-rounded;
  position: relative;
  display: flex;
  align-items: initial;
  flex-direction: column;
  //flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba($color-tint-alpha, .2);

  &--theme {
    @include theme;
  }

  &__icon {
    margin-right: spacing();
    display: inline-block;

    & > svg {
      width: 100%;
      height: auto;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    &-text {
      @include sr-only();
    }
  }

  &__header {
    flex-basis: 100%;
    flex-grow: 0;
    margin-bottom: spacing();
  }

  &__heading {
    line-height: 1.2;
    font-size: 2.4rem;
    padding-bottom: spacing();
    max-width: 100%;
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
  }

  &__body {
    width: 100%;
    margin-bottom: 0;
  }

  &__copy {
    font-size: 1.5rem;
    margin-bottom: spacing();

    &:last-of-type {
      margin-bottom: spacing();
    }

    &--strong {
      margin-bottom: 0;
    }
  }

  &__syllables {
    font-style: italic;
  }

  &__syllable {
    display: inline-block;
    margin: 0 .8rem;
    position: relative;
    font-style: italic;
    font-weight: bold;

    &:after {
      content: '~';
      position: absolute;
      right: -1.2rem;
    }

    &:last-child {
      &:after {
        display: none;
        margin-right: 0;
      }
    }
  }

  &__tags {
    width: 100%;
    margin: spacing(2) 0 0;
    display: block;
  }

  &__label {
    padding: spacing(.5) spacing(1.5);
    font-size: 1.5rem;
  }

  &__footer {
    padding: 0;
    margin: 0;
  }
}
