.LabelCloud {
  display: flex;
  flex-wrap: wrap;

  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: inline-flex;
    margin-right: spacing(2);

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__label {
    text-transform: none;
    padding: spacing(.5) spacing(2);
  }

  &__icon {
    margin-right: spacing(2);
    width: 19px;
    display: inline-block;

    & > svg {
      width: 100%;
      height: auto;
    }
  }
}
