.simple-menu {
  width: auto;
  $root: &;

  &__list {
    margin-bottom: 0;
    margin-right: -#{spacing(2)};
  }

  &__item {
    color: $color-tint-omega;
  }

  &__link {
    color: $color-tint-omega;
    line-height: 1;

    .menu-item {
      &__icon {
        color: $color-brand !important;
      }
    }
  }
}
