.page-hero {
  $root: &;
  width: 100%;
  position: relative;
  text-align: left;
  padding: 0;
  background: $color-brand center center no-repeat;
  background-size: cover;

  &::after,
  &::before {
    content: '';
    width: calc(50%);
    height: 1.25rem;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background: $color-gradient-brand;
  }

  &::before {
    width: 1.25rem;
    height: 1.25rem;
    bottom: 1rem;
    right: calc(50% - 0.25rem);
    background: darken($color-brand, 0%);
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: $center;
    z-index: 100;
  }

  &__social-wrapper {
    position: absolute;
    width: 100%;
    height: auto;
    top: auto;
    bottom: 0;
    left: 50%;
    transform: $centerX;
    z-index: 100;
  }

  &__social {
    position: absolute;
    z-index: 1000;
    width: auto;
    top: auto;
    right: 0;
    bottom: 2rem;
    display: inline-block;
  }

  &__heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $color-tint-alpha;
    position: relative;
    width: auto;
    display: inline;
    padding-left: 0.5rem;
    padding-right: 4rem;
    word-break: break-word;
    hyphens: auto;

    @include breakpoint(768) {
      word-break: normal;
      hyphens: none;
    }

    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      top: auto;
      bottom: -1px;
      left: 0;
      height: 2.5rem;
      width: 100%;
      background: $color-brand;
      transition: $transition-all-base;
    }
  }

  &__copy {
    color: $color-tint-alpha;
    margin-top: spacing();

    @include breakpoint(768) {
      max-width: 50%;
    }
  }
}
