@import '../../../../../node_modules/flexigridcss/dist/flexigridcss/container';

.container,
.container--fluid {
  padding-left: spacing(2);
  padding-right: spacing(2);

  @include breakpoint(599) {
    padding-left: spacing(2);
    padding-right: spacing(2);
  }

  @include breakpoint(768) {
    padding-left: spacing(2);
    padding-right: spacing(2);
  }
}
