.TermsMenu {
  $root: &;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;

  @include breakpoint(1024) {
    text-align: right;
  }

  &__item {
    display: inline-flex;
    padding: spacing() spacing(2);

    &:last-of-type {
      padding-right: 0;
    }

    &:first-of-type {
      padding-left: 0;
    }
  }
}
