.Sponsors {
  $root: &;
  padding: spacing(6) 0 spacing(4);
  margin: 0;

  .row {
    align-items: center;
  }

  &__heading {
    text-transform: uppercase;
    font-family: $font-open;
  }

  &__sponsor-wrapper {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
  }
}
