.off-canvas-footer {
  &__social {
    .social-menu {
      &__list {
        width: 100%;
        text-align: center;
      }

      &__item {
        background-color: $color-brand;

        @include hover-focus {
          background-color: rgba($color-brand, .8);
        }
      }
    }

    .social-item {
      &__icon {
        color: $color-tint-alpha;

        @include hover-focus {
          color: $color-tint-alpha;
        }
      }
    }
  }
}
