# We need this in order to tell the app the environtment we are in. We can then hook
# into this in order to show/hide different elements

## Hide/Show Dev mode features
DEV_MODE=true

## Remove/Add https requirment locally
PROTOCOL=http
PORT=3000
CACHE_TTL=0

ITEMS_PER_PAGE=12

API_URL=devesaurus.test
BASE_URL=devesaurus.com
SITE_URL=http://localhost:8000

APP_TITLE=Devesaurus
SITE_TITLE=Find all your dev related definitions
SITE_DESCRIPTION=Learn something dev
SITE_AUTHOR=PixelTwist
APP_KEYWORDS=Devesaurus,Devinitions,PixelTwist,JPPdesigns

APP_VERSION=1.0.0

## JWT Settings
#JWT_USER=Tech
#JWT_PASSWORD=
